body {
	margin: 0;
	padding: 0;
}

.table, .row, .data {
	font-family: Arial, sans-serif;
	border: 2px solid black;
	border-collapse: collapse;
	text-align: center;
	font-size: 16.66px;
	padding: 8px;
}

.table__nodata {
	height: 38px;
}

.table__header {
	font-weight: normal;
}

.table__qp {
	width: 90px;
}

.table__amount {
	margin-left: 8px;
	width: 45px;
}